/Makefile.am
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/gettext.h
/intprops.h
/stddef.in.h
/stdint.in.h
/stdlib.in.h
/strerror.c
/string.in.h
/unistd.in.h
/wchar.in.h
/xalloc-die.c
/xalloc.h
/xmalloc.c
